body {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    height: 125px;
    width: 125px;
    animation: pulse 4s cubic-bezier(0.5, 0, 0.5, 1) alternate infinite;
}
.circle {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    position: absolute;
    transform: translate(0, 0);
    opacity: 0.75;
    transform: translate(0,0);
}
.circle:nth-child(odd) {
    background: #FFC0A3;
}
.circle:nth-child(even) {
    background: #FFA0A2;
}
.circle:nth-child(1) {
    transform: translate(-35px, -50px);
    animation: circle1 4s ease alternate infinite;
}
.circle:nth-child(2) {
    transform: translate(35px, -50px);
    animation: circle2 4s ease alternate infinite;
}
.circle:nth-child(3) {
    transform: translate(-60px, 0px);
    animation: circle3 4s ease alternate infinite;
}
.circle:nth-child(4) {
    transform: translate(60px, 0px);
    animation: circle4 4s ease alternate infinite;
}
.circle:nth-child(5) {
    transform: translate(-35px, 50px);
    animation: circle5 4s ease alternate infinite;
}   
.circle:nth-child(6) {
    transform: translate(35px, 50px);
    animation: circle6 4s ease alternate infinite;
}
@keyframes circle1 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-35px, -50px);
    }
}
@keyframes circle2 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(35px, -50px);
    }
}
@keyframes circle3 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-60px, 0px);
    }
}
@keyframes circle4 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(60px, 0px);
    }
}
@keyframes circle5 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-35px, 50px);
    }
}
@keyframes circle6 {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(35px, 50px);
    }
}
@keyframes pulse {
    0% {
      transform: scale(.15) rotate(180deg);
    }
    100% {
      transform: scale(1);
    }
  }